<!DOCTYPE html>
<html lang="en">
<body>
  <header class="principal" href="pag2.html">
    <table>
      <tr>
        <td>
          <img src="img/logo.png" alt="" style="width: 20%; border-radius: 5px; margin-left: 60%; margin-top: 2%;">
        </td>
        <td>
          <h1 style="margin-left: -30%; margin-top: 10%;">Bienvenidos a Burros Khalifas</h1>	
        </td>
      </tr>
    </table>
    
      <ul style="list-style: none;">
    <a href="Index"><li style="margin-left: 16.5%;" class="cajita_roja">Principal</li></a>
    <a href="Promo"><li style="margin: float;" class="cajita_roja" href="pag2.html">Promociones</li></a>
    <a href="Menu"><li style="margin: float;" class="cajita_roja">Menú</li></a>
    <a href="Cont"><li style="margin: float;" class="cajita_roja" >Contacto</li></a>
    <a href="Info"><li style="margin: float;" class="cajita_roja" href="pag2.html">Información</li></ul></a>

  </header>
</body>
</html>