<div>
    <div class="hora" href="pag2.html" style="float: left;">
            <h3>Horarios</h3>
            <ul>
            <p class="p" >De Lunes a Viernes</p>
            <p class="p">De 7:00 am a 5:00 pm</p>
        </ul>
    </div>
        <section style="width: 70%; background-color: #FEE998; margin-left: 23%; border-radius: 10px;" id="index">
            
            <h1>BIENVENIDOS A BURRITOS KHALIFAS</h1>
            <h3 style="margin-top: -2%;">Reinventamos los burritos con una explosion de sabor</h3>
            <br>
            <img src="img/inicio.png" alt="" style="margin-left: 23%; border-radius: 5px;"><br><br><br><br>
        </section>
    </section>

</div>