	<section class="Sec3"><h2><br> --- INFORMACIÓN ---</h2>
		<section class="div9"><h3 style="color: #E7884D;">¿Quiénes somos?</h3>
			<p class="parra">El comercio “Burritos Khalifa” es un restaurante que se dedica a vender comida rápida en a
				la comunidad de Mazatlán, en este restaurante podemos encontrar un menú muy variado
				que cuenta con desayunos, comidas y cenas, este menú tiene diferentes platillos en los
				cuales predominan los burritos tipo california con diferentes guisos.</p>
		</section>
		<section class="div9"><h3 style="color: #E7884D;">Integrantes</h3>	
			<h4 class="parra">Estudiantes de UPSIN, de la carrera de Ing. TCI</h4>
			<p class="parra">Uriel Rojas Reynosa - 2019030363</p>
			<p class="parra">Cristina Alejandra Garcia Peña - 2019030276</p>
		</section>
		<section class="div10"><h3 style="color: #E7884D;">Propósito</h3>	
			<p class="parra">El comercio “Burritos Khalifas” tiene como objetivo principal de la página web es que
				más clientes puedan utilizar la página para hacer los pedidos en línea de manera más
				rápida y que los trabajadores no tengan problemas al momento de tomar los pedidos.</p>
			<p class="parra">Lo que se espera de esta página es que se aumenten las ventas de manera
				exponencial y que atraiga a más personas y que así se conviertan en clientes nuevos.</p>
			<p class="parra">El último objetivo de esta página es que los clientes tengan la opción de programar los
				pedidos con anticipación para que así sea más rápida la entrega, así pues la velocidad
				de entregas se verá aumentada en un 40% más que antes.</p>
		</section>
		
	</section>
