<h2 style="color: #936D3B;"><br> --- MENÚ BURRITOS ---</h2>
	<div class="div">
		<table>
			<tr>
				<td>
					<img class="img" src="img/California.png" alt="">
				</td>
				<td >
					<h4>Burrito California</h4>
					<p class="pDes">Carne asada, papas fritas, pico de gallo, queso chihuahua y crema</p>
					<p class="pDes"><b>Precio: </b> <i> $65 </i>  -- <i>  $100</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.php" type="button" value="Comprar" class="btn">
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/carA.png" alt="">
				</td>
				<td >
					<h4>Burrito Khalifas</h4>
					<p class="pDes">Carne asada, papas fritas, Camarón, queso chihuahua, Crema y Aguacate</p>
					<p class="pDes"><b>Precio: </b> <i> $75 </i>  -- <i>  $120</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn">
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/capi.png" alt="">
				</td>
				<td >
					<h4 >Burrito Capeado</h4>
					<p class="pDes">Camaron Capeado, Lechuga, pico de gallo y Guacamole</p>
					<p class="pDes"><b>Precio: </b> <i> $70 </i>  -- <i>  $115</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn">
	</div>

	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/carne.png" alt="">
				</td>
				<td >
					<h4 >Burrito Surfo</h4>
					<p class="pDes">Carne asada en salsa rancher, Camarón y Guacamole</p>
					<p class="pDes"><b>Precio: </b> <i> $70 </i>  -- <i>  $110</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/papa.png" alt="">
				</td>
				<td >
					<h4 >Burrito Imperial</h4>
					<p class="pDes">Camaron, papas fritas, Tocino, queso chihuahua y Guacamole</p>
					<p class="pDes"><b>Precio: </b> <i> $70 </i>  -- <i>  $120</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="" src="img/asada.png" alt="" style="width: 60%; margin-left: 10px; margin-top: 20%;">
				</td>
				<td >
					<h4 >Burrito Carne Asada</h4>
					<p class="pDes">Carne asada, pico de gallo y Guacamole</p>
					<p class="pDes"><b>Precio: </b> <i> $60 </i>  -- <i>  $100</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/bufa.png" alt="">
				</td>
				<td >
					<h4 >Burrito Buffalo</h4>
					<p class="pDes">Tender de pollo, papas fritas, Salsa Bufalo, queso chihuahua y Aderezo Ranch</p>
					<p class="pDes"><b>Precio: </b> <i> $65 </i>  -- <i>  $100</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/flamin.png" alt="">
				</td>
				<td >
					<h4 >Burrito Flamming</h4>
					<p class="pDes">Carne asada, papas fritas, Guacamole, queso nachos y Chettos Flamming hot</p>
					<p class="pDes"><b>Precio: </b> <i> $70 </i>  -- <i>  $110</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/carne.png" alt="">
				</td>
				<td >
					<h4 >Burrito Supreme</h4>
					<p class="pDes">Tender de pollo, ensalada de lechuga, tomate, cebolla, aguacate y ranch</p>
					<p class="pDes"><b>Precio: </b> <i> $70 </i>  -- <i>  $110</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>

</section>

<section class="Sec3">
	<h2 style="color: #936D3B;"><br> -- PAPAS --</h2>
	<div class="div">
		<table>
			<tr>
				<td>
					<img class="img" src="img/asadafries.png" alt="">
				</td>
				<td >
					<h4>Carne Asada Fries</h4>
					<p class="pDes">Cama de papas, carne asada, Queso chihuahua, guacamole y Crema.</p>
					<p class="pDes"><b>Precio: </b> <i> $75 </i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/imperialfries.png" alt="">
				</td>
				<td >
					<h4>Imperial Fries</h4>
					<p class="pDes">Cama de papas fritas, Camarón, Tocino, Queso chihuahua, Crema y Aguacate</p>
					<p class="pDes"><b>Precio: </b> <i> $90</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/bufalo.png" alt="">
				</td>
				<td >
					<h4 >Bufalo Fries</h4>
					<p class="pDes">Cama de papas fritas, tender de pollo, queso chihuahua, salsa Bufalo y Ranch</p>
					<p class="pDes"><b>Precio: </b> <i> $80 </i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>

	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/cheetos.png" alt="">
				</td>
				<td >
					<h4 >Cheetos Fries</h4>
					<p class="pDes">Cama de papas fritas, Carne asada, Cheetos flaming hot y Queso de nachos</p>
					<p class="pDes"><b>Precio: </b> <i> $70 </i>  -- <i>  $110</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
</section>
<section class="Sec3">
	<h2 style="color: #936D3B;"><br> -- QUESADILLAS --</h2>
	<div class="div">
		<table>
			<tr>
				<td>
					<img class="img" src="img/quesa.png" alt="">
				</td>
				<td >
					<h4>Carne Asada </h4>
					<p class="pDes">Cama de papas, carne asada, Queso chihuahua, guacamole y Crema.</p>
					<p class="pDes"><b>Precio: </b> <i> $75 </i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/imperialfries.png" alt="">
				</td>
				<td >
					<h4>Imperial</h4>
					<p class="pDes">Cama de papas fritas, Camarón, Tocino, Queso chihuahua, Crema y Aguacate</p>
					<p class="pDes"><b>Precio: </b> <i> $90</i></p>
				</td>
			</tr>
		</table>
		<input href="Info.html" type="button" value="Comprar" class="btn">
	</div>
	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/bufalo.png" alt="">
				</td>
				<td >
					<h4 >Supreme</h4>
					<p class="pDes"> tender de pollo, queso chihuahua, salsa Bufalo y Ranch</p>
					<p class="pDes"><b>Precio: </b> <i> $80 </i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>

	<div class="div">
		<table >
			<tr>
				<td>
					<img class="img" src="img/cheetos.png" alt="">
				</td>
				<td >
					<h4 >Camaron Capeado</h4>
					<p class="pDes">Camaron Capeado, queso chihuahua, pico de gallo</p>
					<p class="pDes"><b>Precio: </b> <i> $70 </i>  -- <i>  $110</i></p>
				</td>
			</tr>
		</table>
		<input href="Almacenar.PHP" type="button" value="Comprar" class="btn" >
	</div>