<section class="Sec2">
<h3 style="color: #E7884D;"><br> CUPONES, OFERTAS Y PROMOCIONES</h3>
<h3 style="color: #E8AB85;" > <br>Promociones</h3>
<div class="div5">
<h4 style="margin-left: 12.5%;">PROMOCIÓN DE LOS JUEVES</h4>
<p class="parra"><b>¡¡Promición 2x1 !! </b><br> Jueves en la compra de dos productos de nuestro menú, te regalamos uno extra.</p>
<input type="button" name="vPromo" value="Ver Promoción" style="margin-left: 29%;" onclick="promo()">
</div>
<div class="div5">
<h4 style="margin-left: 12.5%;">PROMOCIÓN 1</h4>
<p class="parra"><b>¡¡Promición 1 !! </b><br> Un burrito Khalifas y un burrito California por tan solo $130.</p>
<input type="button" name="vPromo" value="Ver Promoción" style="margin-left: 29%;" onclick="promo2()">
</div>
<div class="div5">
<h4 style="margin-left: 12.5%;">PROMOCIÓN 2</h4>
<p class="parra"><b>¡¡Promición 2 !! </b><br> Haz tu pedido en linea y recibe de raglo un burrito bufalo en tu pedido.</p>
<input type="button" name="vPromo" value="Ver Promoción" style="margin-left: 29%;" onclick="promo3()">
</div>

</section>
<section class="Sec2">
<div>
<h3 style="color: #E8AB85;" ><br>Ofertas</h3>
<div class="div8">
<h4 style="margin-left: 25%;">Oferta Khalifas</h4>
<img src="img/bufa.png" alt="" class="imf">
<p class="parra">En la compra de 3 burritos te regalamos las bebidas para cada uno</p>
<input type="button" name="vPromo" value="Ver Oferta" class="oferta" onclick="ofertas()">
</div>

<div class="div8">
<h4 style="margin-left: 12.5%;">Oferta para estudiantes</h4>
<img src="img/estudiantes.png" alt="" style="width: 46%; margin-left: 30%;">
<p class="parra">Se aplica el 20% de descuento en sus pedidos por ser estudiantes, el unico requisito es llevar su credencial de estudiantes</p>
<input type="button" name="vPromo" value="Ver Promoción" class="oferta" onclick="ofertas()">
</div>

<div class="div8">
<h4 style="margin-left: 12.5%;">Oferta de Bebidas</h4>
<img src="img/jamaica.png" alt="" style="width: 46%; margin-left: 30%;">
<p class="parra">Bebidas de refil, solo cuentan con agua de sabor y té de Jazmin</p>
<input type="button" name="vPromo" value="Ver Promoción" class="oferta" onclick="ofertas()">
</div>